:root{
  --primary-color: rgba(47, 134, 106, 1);
  --secondary-color:rgb(179, 179, 179);
}
html{
  scroll-behavior: smooth;
  scrollbar-color: var(--primary-color) #0D100E;
}
html, body{
  background: #0D100E;
}
*{
  box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    background-color: rgb(15, 17, 21);
    color: white;
    justify-content:space-between;
    padding-left: 30px;
    padding-right: 20px;
    z-index: 100;

}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
a{
    text-decoration: none;
    color:rgba(47, 134, 106, 1);
    font-size: 18px;
}
.navbar .logo{
    font-size: 20px;

}
.hero-content{
    position: absolute;
    top: 25%;
    left: 15%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 18px;



}
.hero-content span{
    color: rgba(47, 134, 106, 1)
}
.hero-content h2{
    color: rgba(47, 134, 106, 1);
    font-size: 20px;
    font-style: italic;
}
.hero{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    background: radial-gradient(70% 70% at 5% 8%, rgba(84,156,133,0.2) 0%, rgba(0,0,0,0.2) 100%),
    radial-gradient(65% 150% at 82% 82%, #0B3729 0%, #0D100E 100%);
    z-index: 0;

    
}
.hero-spacer{
    height: 95vh;
}


.projects {
    width: 100%;
    padding: 40px;
    background: linear-gradient(0deg, rgb(17, 21, 20) 20%, rgb(26, 27, 26) 100%);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;;
    position: sticky;
    top: 52px;
    z-index: 2

}
.projects h2{
    color:var(--primary-color);
    font-size: 26px;
}
.projects-area{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    min-height: 100vh;
    align-items: flex-start;
}
.project-card{
    margin: 20px;
    width: 400px;
    min-height: 310px;
    background-color: rgb(15, 17, 21);
    border-radius: 15px;
    transition: transform 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.project-card img{
    width: 100%;
    object-fit: cover;
}
.project-info {
    color: var(--secondary-color);
    margin-left: 10px;
    padding: 10px;
    flex-grow: 1;    
}
.project-info h3{
    margin: 1px;
    color: var(--primary-color);
}


.project-card:hover{
    transform: scale(1.1);
}

.skills{
  height: 120vh;
  background: #0D100E;
  position: relative;
  z-index: 3;
}