:root{
  --primary-color: rgba(47, 134, 106, 1);
}
html, body{
  background: #0D100E;
}
*{
  box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    background-color: rgb(15, 17, 21);
    color: white;
    justify-content:space-between;
    padding-left: 30px;
    padding-right: 20px;
    z-index: 100;

}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
a{
    text-decoration: none;
    color:rgba(47, 134, 106, 1);
    font-size: 18px;
}
.navbar .logo{
    font-size: 20px;

}
.hero-content{
    position: absolute;
    top: 25%;
    left: 15%;
    color: white;
    display: flex;
    flex-direction: column;



}
.hero-content span{
    color: rgba(47, 134, 106, 1)
}
.hero-content h2{
    color: rgba(47, 134, 106, 1);
    font-size: 20px;
    font-style: italic;
}
.hero{
    padding-top: 80px;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(70% 70% at 5% 8%, rgba(84,156,133,0.2) 0%, rgba(0,0,0,0.2) 100%),
    radial-gradient(65% 150% at 82% 82%, #0B3729 0%, #0D100E 100%);
    z-index: -1;

    
}


.projects {
    width: 100%;
    min-height: 80vh;
    margin-top: -25px;
    padding: 40px;
    background: linear-gradient(0deg, rgb(17, 21, 20) 20%, rgb(26, 27, 26) 100%);
    border-radius: 25px;
    z-index: 1;
}
.projects h2{
    color:var(--primary-color);
    font-size: 26px;
}
.projects-area{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.project-card{
    margin: 20px;
    width: 300px;
    height: 200px;
    background-color: rgb(15, 17, 21);
    border-radius: 15px;
    transition: transform 0.3s ease;
}
.project-card:hover{
    transform: scale(1.2);
}

