*{
  box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    background-color: rgb(15, 17, 21);
    color: white;
    justify-content:space-between;
    padding-left: 30px;
    padding-right: 20px;

}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
a{
    text-decoration: none;
    color:rgba(47, 134, 106, 1);
    font-size: 18px;
}
.navbar .logo{
    font-size: 20px;

}
.hero-content{
    position: absolute;
    top: 25%;
    left: 15%;
    color: white;
    display: flex;
    flex-direction: column;



}
.hero-content span{
    color: rgba(47, 134, 106, 1)
}
.hero-content h2{
    color: rgba(47, 134, 106, 1);
    font-size: 20px;
    font-style: italic;
}
.hero{
    padding-top: 80px;
    width: 100%;
    height: 100vh;
    background: radial-gradient(70% 70% at 5% 8%, rgba(84,156,133,0.2) 0%, rgba(0,0,0,0.2) 100%),
    radial-gradient(65% 150% at 82% 82%, #0B3729 0%, #0D100E 100%);


    
}
.hero::after{
  content: "";
  position: absolute;
  right: -10%;
  bottom: -10%;
  width: 70%;
  height: 80%;

  background-image: radial-gradient(rgba(255,255,255,0.18) 1px, transparent 1px);
  background-size: 16px 16px;

  mask-image: radial-gradient(circle at 60% 55%, black 35%, transparent 75%);
  -webkit-mask-image: radial-gradient(circle at 60% 55%, black 35%, transparent 75%);

  opacity: 0.6;
}


